body{
    background-color: #aa9584;
}

#wrapper2
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas:  
    ". . . . ."
    ". form form form ."
    ". form form form ."
    ". . . . ."
    ". . . . ."; 
    min-height: 100vh;
    min-width: 100vh;
}

body
{
    margin: 0;
    padding: 0;
}



#formnick
{
    grid-area: form;
}
input{
    &[type=text]{
        width: 70%;
        padding: 20px;
        margin-top: 5px;
        box-sizing: border-box;
        border: 4px solid #1a1715;
        border-radius: 2px;
        background-color: #e7cfbf;
        transition: width 0.5s ease-in-out;
        font-size: 40px;

        &:focus 
        {
            width: 100%;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

    }
    

}

#button
    {
        margin-top: 20px;
        font-size: 25px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }


#wynik
{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nickp
{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}