#wrapper4 {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "king king queen queen rook rook"
      "bishop bishop horse horse pawn pawn";
      min-height:100vh;
  }


  body{
    margin:0px;
    padding: 0px;
    background-color: #aa9584;
    text-align: center;
    font-size: 20px;

  }
  
  a{
    color: #aa9584;
    font-size: smaller;
  }



img{
  padding-bottom:10px ;
}
  #king { 
    grid-area: king;
    padding:3px;
    align-items: center;
    text-align: center;
}
  #queen { 
    grid-area: queen; 
    padding:3px;
}
  #rook {
     grid-area: rook;
     padding:3px;

     }
  #bishop { 
    grid-area: bishop;
    padding:3px;
 }
  #horse { 
    grid-area: horse;
    padding:3px;

 }
  #pawn { 
    grid-area: pawn; 
    padding:3px;
}

